@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Poppins&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100%;
}
.dashboard{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}
.sidebar{
    background: #1c1c1d;
}
.horizontal{
    /* background: #000; */
    position: relative;
}
.horizontal header{
    width: 100%;
    /* height: 50px; */
    padding: 15px 20px 20px 20px;
    /* background: chocolate; */
    border-bottom: 1.5px solid rgb(73, 72, 72);
    /* margin-top: 10px; */
    background: #6f6486;
}
header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li{
    margin-right: 15px;
    padding: 5px 15px;
    cursor: pointer;
}
nav ul li{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
nav li.branch, li.branch span{
    font-family: 'Pushster', cursive;
    font-size: 1.5rem;
    color: #fff;
}
nav li.branch span{
    color: rgb(233, 165, 39);
}
.sidebar_title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    margin-top: 30px;
    padding: 10px;
    color: #AB5B55;
}
.sidebar_title h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar_title img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.sidebar_menu{
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.dashboard i{
    color: #9da1ae;
    font-size: 1.2rem;
    margin-right: 1.1rem;
}
.sidebar_link{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.sidebar_link:hover{
    width: 100%;
    background: #434346;
}
.sidebar_link a{
    color: rgb(160, 156, 156);
    /* margin-left: 10px; */
    font-weight: 550;
}
.sidebar_link.active{
    width: 100%;
    background: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.sidebar_link a:hover{
    color: #fff;
}
.sidebar_link.active a, .sidebar_link.active i, .sidebar_link.active a:hover{
    color: #1c1c1d;
}
.horizontal{
    background: #313348;
}