.semister{
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}
input{
    outline: none;
    padding: 5px;
}
.performance{
    background-color: #fff;
    margin: 30px 20px;
    padding: 20px;
}
.performance h1{
    text-align: center;
    color: rgb(65, 63, 63);
    margin-bottom: 25px;
}
.performance .graphs{
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.graph1, .graph2, .graph3, .graph4{
    width: 80%;
    margin-bottom: 20px;
}
canvas{
    width: 100%;
}