.board{
    background-color: #fff;
    margin: 20px 50px;
    padding: 30px;
}
.board .title{
    background-color: #04AA6D;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0; 
}
#leaderboard {
    border-collapse: collapse;
    width: 100%;
}
#leaderboard td, #leaderboard th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#leaderboard tr:nth-child(even){
    background-color: #f2f2f2;
}

#leaderboard tr:hover{
    background-color: #ddd;
}
#leaderboard th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #8a1fa5;
    color: white;
    text-align: center;
}