{% extends "home/base.html" %}
{% block title %}
  <title>About Us</title>
{% endblock title %}
{% load static %}
{% block styling %}
  <link rel="stylesheet" href="{% static 'css/home/about.css' %}">
{% endblock styling %}
{% block content %}
<div class="about-container">
    <div class="title"><h2>MALLA REDDY COLLEGE OF ENGINEERING AND TECHNOLOGY</h2></div>
    <div class="about-college">
        <div class="pics">
            <img src="https://images.unsplash.com/flagged/photo-1554473675-d0904f3cbf38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
            <img src="https://images.unsplash.com/photo-1592280771190-3e2e4d571952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbGxlZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
            <img src="https://media.istockphoto.com/photos/graduation-congratulationsthe-graduates-stand-inline-while-waiting-picture-id1263374465?b=1&k=20&m=1263374465&s=170667a&w=0&h=8I362WFUiKMJT0CAkZ12vMEy7LVxcekxbB2DhFczFCQ=" alt="">
        </div>
        <div class="description">
            <p>Malla Reddy College of Engineering & Technology (MRCET) is a constituent College of Malla Reddy Group of Institutions (MRGI) established in 2004.</p>
            <p>The College offers Engineering courses (B.Tech.) in AE, CSE, CSE(AI&ML), CSE(CS), CSE(IOT), CSE(DS), AI&ML, AI&DS, ECE, EEE, IT, MECH disciplines and Post Graduate (M.Tech.) courses in ECE, CSE, MECH and AE specializations in addition to MBA programmes. The College campus with its aboriculture and horticulture is situated away from the hustle and bustle of the city provides a serene and tranquil atmosphere, which is conducive to both teaching and learning processes.</p>
        </div>
    </div>
    <div class="achievements">
        <div class="title"><h3>MRCET ACHIEVEMENTS</h3></div>
        <div class="show-pics">
            <img src="https://mrcet.com/images/autologo.png" alt="">
            <img src="https://mrcet.com/images/NBA%20Logo.png" alt="">
            <img src="https://mrcet.com/images/AGradelogo.gif" alt="">
            <img src="https://mrcet.com/images/ISOlogo.gif" alt="">
            <img src="https://mrcet.com/images/MRCET_10%20Years.png" alt="">
        </div>
        <ol class="achivements">
            <h2>Special Achievements</h2>
            <li>Autonomous Institution, UGC, Govt.of INDIA.</li>
            <li>Accredited by NBA (Tier-1), AICTE, New Delhi</li>
            <li>IBM Centre of Excellence”</li>
            <li>Accredited by NAAC-A Grade, UGC, Govt. of India.</li>
            <li>ISO 9001:2015 Certified Institution.</li>
            <li>Research Centre Status, JNTUH, Hyderabad</li>
            <li>MRCET is a life member of NHRD Network.</li>
            <li>Approved to admit Foreign Students/PIO’s</li>
        </ol>
    </div>
    <div class="head-of-institutes">
        <h2 class="title">People Behind Our Success</h2>
        <div class="head-of">
            <div class="hod">
                <div class="image">
                    <img src="https://media.istockphoto.com/photos/happy-black-techer-getting-applause-from-her-students-after-giving-a-picture-id1312241724?b=1&k=20&m=1312241724&s=170667a&w=0&h=xxUqcUsAD6GA9DG_3kaatEESNdTJ4XQWVsGKipJ5m2Y=" alt="">
                </div>
                <div class="desc">
                    <h2 class="name">Riya</h2>
                    <p class="branch">HOD</p>
                    <p>Computer Science</p>
                </div>
            </div>
            <div class="hod">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1562693315-23c0b35cacd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cHJvZmVzc29yc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="desc">
                    <h2 class="name">Amarnath</h2>
                    <p class="branch">Hod</p>
                    <p>Mechanical</p>
                </div>
            </div>
            <div class="hod">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1602133187081-4874fdbd555c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZmVzc29yc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                <div class="desc">
                    <h2 class="name">Usman Yousaf</h2>
                    <p class="branch">HOD</p>
                    <p>Electonics</p>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="principal"></div>
        </div>
    </div>
</div>
{% endblock content %}