{% extends "home/base.html" %}
{% block title %}
  <title>Academics</title>
{% endblock title %}
{% load static %}
{% block styling %}
  <link rel="stylesheet" href="{% static 'css/home/academics.css' %}">
{% endblock styling %}
{% block content %}
<div class="academics">
    <h2>Malla Reddy College Of Engineering And Technology</h2>
    <p>MRCET is an undisputed leader in creating campus placements and these are growing year over year at a rapid place which is contributing to the brand image of the institution.</p>
</div>
<div class="teaching">
    <h1>Friendly Teaching Environment</h1>
    <p>MRCET provides good environment for learing.The ideal classroom is a positive place where a student can come to work toward specific goals
        set before them in the class objectives. The teacher is to be positive, organized, outgoing,
        confident, and compassionate. The instructor often sets the tone for the entire classroom.</p>
    <p>Classroom behavior and classroom communities are very cohesive components of classroom
        management. Positive classroom behavior has a positive effect on having positive classroom
        communities. Classroom communities are subsets of the classroom population. If these groups
        are encouraged to be positive and work together to complete a task, then classroom behavior
        becomes more positive. The classroom community gives the students the opportunity to get to
        know their fellow students. The idea of classroom communities fosters positive and productive
        classroom behavior.</p>
    <p>The classroom must be a place where students can come and enjoy their class time and learn the
        information being taught. My classroom management style would be very strict and I would
        expect the best from each and every student.</p>
    <div class="show-images">
        <img src="https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dGVhY2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1524178232363-1fb2b075b655?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dGVhY2hpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1580582932707-520aed937b7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTh8fHRlYWNoaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1561089489-f13d5e730d72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNvbGxlZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
</div>
{% endblock content %}