{% extends "home/base.html" %}
{% block title %}
  <title>Departments</title>
{% endblock title %}
{% load static %}
{% block styling %}
  <link rel="stylesheet" href="{% static 'css/home/departments.css' %}">
{% endblock styling %}
{% block content %}
<div class="department">
    <h1 class="title">Departments</h1>
    <div class="depart">
        <div class="cse dept">
            <h3 class="sub-title">1. CSE - COMPUTER SCIENCE AND EGINEERING</h3>
            <div class="description">
                <p>The Department of Computer Science and Engineering (CSE) is established in the year 2004. The department offers B. Tech (Computer Science and Engineering) with an intake of 240 and M. Tech (Computer Science and Engineering) with an intake of 30.</p>
                <p>B. Tech and M. Tech in Computer Science and Engineering was accredited by the National Board of Accreditation (Tier-1) and National Assessment and Accreditation Council (NAAC) with A grade</p>
                <p>The Department of CSE aims to provide quality education and instill high patterns of discipline, making the students technologically superior and ethically strong which involves the improvement in the quality of life in human race.</p>
            </div>
            <h4 class="provide">We Provide Best Courses</h4>
            <div class="show-pics">
                <div class="image data-science">
                    <h4>Data Science</h4>
                </div>
                <div class="image cyber">
                    <h4>Cyber Security</h4>
                </div>
                <div class="image artificial">
                    <h4>AL/ML</h4>
                </div>
                <div class="image web">
                    <h4>Web Development</h4>
                </div>
            </div>
        </div>
        <div class="ece dept">
            <h3 class="sub-title">2. ECE - ELECTRONICS & COMMUNICATION ENGINEERING</h3>
            <div class="description">
                <p>The Department of ECE was established in 2004 and permanently recognized by JNTU Hyderabad.</p>
                <p>The department has created a student association called “Futuronics” under the aegis of which the students have successfully conducted the events like Technical Quizes, Mini Project exhibition, Guest lectures, Tech fest, Technical Symposium to quote a few.</p>
                <p>The department has created a student association called “Electrosurge” under the aegis of which the students have successfully conducted the events like Technical Quizes, Mini Project exhibition, Guest lectures, Tech fest, Technical Symposium to quote a few.</p>
            </div>
            <h4 class="provide">We Provide Best Courses</h4>
            <div class="show-pics">
                <div class="image">
                    <img src="https://mrcet.com/images/departments/ece%20banner.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="mech dept">
            <h3 class="sub-title">3. MECH - MECHANICAL ENGINEERING</h3>
            <div class="description">
                <p>The Department of Mechanical Engineering was established in the year 2011 with an annual intake of 60 students, which has been increased to 120 from the academic year 2012 – 13 and to 180 in the academic year 2013 – 14.</p>
                <p>Department of Mechanical Engineering played a leading role in evolving the “Engineering Science” based curriculum. Mechanical Engineering is of great importance in most contemporary technologies. Mechanical engineers work with machines and engines, from elevator technology to Robotics. Students can focus on areas such as heat transfer and fracture mechanics. Examples include Aerospace, Power generation and Conversion, fluid machinery, design and construction of mechanical systems, transportation, manufacturing, production, biomechanics and others. This wide range of applications is reflected in the three main stems of undergraduate curriculum thermal and fluid systems, mechanics and materials, and robotics and control systems.</p>
                <p>Faculty members encourage students to participate in both fundamental and applied research. Students have excellent opportunities to participate actively in classroom and laboratories and to follow special interests within the subject area.</p>
            </div>
            <h4 class="provide">We Provide Best Skills</h4>
            <div class="show-pics">
                <div class="image labs">
                    <h4>Best Labs</h4>
                </div>
                <div class="image faculty">
                    <h4>Friendly Environment</h4>
                </div>
                <div class="image equipment">
                    <h4>Top Equipments</h4>
                </div>
                <div class="image designing">
                    <h4>Designing</h4>
                </div>
            </div>
        </div>
        <div class="aero dept">
            <h3 class="sub-title">4. AERO - AERONAUTICAL ENGINEERING</h3>
            <div class="description">
                <p>The B.Tech Aeronautical Engineering started operating over a decade since the year 2004with total seats 60 offered and since 2010 PG course M.Tech Aerospace with total 60 seats. The Student in these graduate engineering programs learn the science of flight, both for aircraft and spacecraft. The department of aeronautical engineering curriculum envisages five professional and three open elective courses in addition to the courses on basic humanities and sciences, basic engineering and core aeronautical engineering.</p>
                <p>It is a 4-year full time B. Tech Degree programme which covers important and exciting areas of Aeronautical Engineering including Aerodynamics, Aircraft structures, Flight Dynamics, Propulsion, Avionics, Aircraft Systems and Aircraft Maintenance. As a part of the curriculum, the students are given timely continuous training in Modelling and Simulation software packages which are extensively used in Aerospace Industries such as CATIA, ANSYS etc.</p>
                <p>The students will also have practical exposure in laboratory facilities of the department which includes Mechanics of Solids Lab, Aircraft Structures Lab, Aerodynamics and Propulsion Lab, Fluid and Flight Vehicle Design Lab etc.</p>
            </div>
            <h4 class="provide">We Provide Best Courses</h4>
            <div class="show-pics">
                <div class="image">
                    <img src="https://mrcet.com/images/departments/mech%20banner.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="it dept">
            <h3 class="sub-title">5. IT - INFORMATION TECHNOLOGY</h3>
            <div class="description">
                <P>The Department of Information Technology was established in 2007 with an annual intake of 60 and has grown to a current annual intake of 180 students. The department has been accredited by NBA and NAAC – A Grade.</P>
                <p>The greatest resource of the department is its dedicated faculty with a well balanced mix of experienced seniors and energetic junior faculty members, organized in a well-defined hierarchy of administration. The Department also provides second level of growth to the students through conduction of curricular and extra-curricular activities under the aegis of CSI student chapter.</p>
                <p>It offers contemporary subjects like Mobile Application Development, Big Data Analytics, Machine Learning, Block-Chain Technology etc and specialized labs like Linux programming, Web Technologies, Data warehousing & Data Mining and has a Centre of Excellence in Big Data Analytics.</p>
            </div>
            <h4 class="provide">We Provide Best Courses</h4>
            <div class="show-pics">
                <div class="image android">
                    <h4>Android Developer</h4>
                </div>
                <div class="image analytics">
                    <h4>Data Analytics</h4>
                </div>
                <div class="image artificial">
                    <h4>AL/ML</h4>
                </div>
                <div class="image web">
                    <h4>Web Development</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}