
{% block footer %}
<footer class="footer">
    <div class="foot">
        <div class="rows contacts">
            <h3>Conatct Us</h3>
            <ul>
                <li><i class="far fa-envelope"></i>  mrcet@mail.com</li>
                <li><i class="fas fa-phone-volume"></i>  8374-00-0000</li>
            </ul>
        </div>
        <div class="rows address">
            <h3>How To Find US</h3>
            <ul>
                <p>Maisammaguda, Dhulapally,</p>
                <p>Kompally, Medchal,</p>
                <p>Hyderabad - 500100</p>
            </ul>
        </div>
        <div class="rows college">
            <h3>College</h3>
            <ul>
                <li><a href="#">About US</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Academics</a></li>
                <li> <a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="copy">
        <p>© 2021 MRCET. All rights reserved. Privacy Policy</p>
    </div>
</footer>
{% endblock footer %}