<div class="profile">
    <div class="image">
        <div class="pic">
            <img src="http://127.0.0.1:8000{{url}}" alt="">
        </div>
        <h2 class="name">{{student_name}}</h2>
    </div>
    <div class="personal_details">
        <h1>Personal Details</h1>
        <div class="details">
            <span>Name   : {{student_name}}</span>
            <span>ID     :  {{student_id}}</span>
            <span>Gender :  {{gender}}</span>
            <span>Dept   :    {{department}}</span>
            <span>Mbl No :    {{phone_number}}</span>
            <span>Email  :    {{student_email}}</span>
            <span>Parent Name: {{parent_name}}</span>
            <span>Parent Contact: {{parent_mobile_number}}</span>
        </div>
    </div>

</div>