@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Poppins&family=Roboto&family=Lobster:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}
.header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 30px;
    height: 35px;
}
.header .container-head{
    max-width: 100%;
    height: 100%;
    background-color: #593761;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
}
.logo{
    font-weight: 700;
}
.logo a{
    font-size: 1.5rem !important;
    font-family: 'Lobster', cursive;
}
.logo a span{
    color: rgb(223, 240, 71);
    font-family: 'Lobster', cursive;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.row li{
    color: #fff;
}
.row li.profile img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
nav ul li{
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    padding: 6px 8px;
    border-radius: 5px;
}
li.active a, li:hover a{
    background: #fff;
    color:#66072a;
}
.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
    left: -40px;
}
.dropdown:hover{
    border: 1px solid #fff;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #593761;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}
.dropdown-content a:hover {
    background-color: #593761;
    color: #fff;
}
.dropdown:hover .dropdown-content {display: block;}
