<div class="main-container">
    <div class="container">
        <h1>Inspiration, Innovation and Discovery</h1>
        <span>Any successful career starts with good education.
            Together with us you will have deeper knowledge of the subjects that will be especially
             useful for you when climbing the career ladder.</span>
        <a class='learn' routerLink="/departments">Learn More</a>
    </div>
</div>
<div class="programs">
    <div class="offering">
        <h3>Guaranteed Success</h3>
        <h1>What We Offer</h1>
        <p>MRCET offers students the best of education and entertainment
            opportunities available in the area. We are glad to take care of every
            student and university entrant.</p>
    </div>
    <div class="main-programs">
        <div class="pro">
            <fa-icon [icon]="['fas', 'user-graduate']"></fa-icon>
            <h4>Best Education</h4>
            <p>MRCET provides best education services with all learning materials and notes available to you.</p>
        </div>
        <div class="pro">
            <fa-icon [icon]="['fas', 'book']"></fa-icon>
            <h4>Programs & Courses</h4>
            <p>We offer a wide range of courses and programs that encompass lots of knowledge spheres.</p>
        </div>
        <div class="pro">
            <fa-icon [icon]="['fas', 'school']"></fa-icon>
            <h4>Campus Events</h4>
            <p>Our campus is the hub to a talented and diverse student community that turns opportunities into success.</p>
        </div>
    </div>
</div>
<div class="choose">
    <div class="rank">
        <div class="offering">
            <h1>Why Choose Us</h1>
            <p>MRCET offers quality education helping you build your future career. Here just some of the facts that show why students choose us.</p>
        </div>
        <div class="counter">
            <div class="row">
                <div class="count">
                    <div class="icon"><fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon></div>
                    <div class="content">
                        <h2>97%</h2>
                        <p>Graduates</p>
                    </div>
                </div>
                <div class="count">
                    <div class="icon"><fa-icon [icon]="['fas', 'users']"></fa-icon></div>
                    <div class="content">
                        <h2>100+</h2>
                        <p>Certified Lecturers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="count">
                    <div class="icon"><fa-icon [icon]="['fas', 'user-graduate']"></fa-icon></div>
                    <div class="content">
                        <h2>7000+</h2>
                        <p>Students</p>
                    </div>
                </div>
                <div class="count">
                    <div class="icon"><fa-icon [icon]="['fas','building']"></fa-icon></div>
                    <div class="content">
                        <h2>50+</h2>
                        <p>Placement Oppurtunities</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image">
        <img src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29sbGVnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
</div>