<div class="profile">
    <div class="image">
        <div class="pic">
            <img src="http://127.0.0.1:8000{{data.profile}}" alt="">
        </div>
        <h2 class="name">{{data.teacher_name}}</h2>
    </div>
    <div class="personal_details">
        <h1>Personal Details</h1>
        <div class="details">
            <span>Name   : {{data.teacher_name}}</span>
            <span>ID     :  {{data.teacher_id}}</span>
            <span>Gender :  {{data.gender}}</span>
            <span>Dept   :    {{data.department_name}}</span>
            <span>Mbl No :    {{data.phone_number}}</span>
            <span>Email  :    {{data.teacher_email}}</span>
        </div>
    </div>
</div>