<div class="board">
  <h1 class="title">Student Pending Leaves</h1>
  <table id="leaderboard">
      <tr>
        <th>S.NO:</th>
        <th>Student Id</th>
        <th>Leave Reason</th>
        <th>Leave Start Date</th>
        <th>Leave End Date</th>
        <th>Leave Actions</th>
      </tr>

      <tr *ngFor="let row of pending; let i = index">
        <td>{{i+1}}</td>
        <td>{{row.candidate_id}}</td>
        <td>{{row.leave_reason}}</td>
        <td>{{row.leave_start_date}}</td>
        <td>{{row.leave_end_date}}</td>
        <td class="status-buttons"><a class="button reject" (click)="updateLeave(row.id,'REJECTED')">Reject</a><a class="button approve" (click)="updateLeave(row.id,'APPROVED')">Approve</a></td>
      </tr>

  </table>
</div>
<div class="board">
<h1 class="title">Student Total Leaves</h1>
<table id="leaderboard">
    <tr>
      <th>S.NO:</th>
      <th>Student Id</th>
      <th>Leave Reason</th>
      <th>Leave Start Date</th>
      <th>Leave End Date</th>
      <th>Leave Actions</th>
    </tr>

    <tr *ngFor="let row of remaining; let i = index">
      <td>{{i+1}}</td>
      <td>{{row.candidate_id}}</td>
      <td>{{row.leave_reason}}</td>
      <td>{{row.leave_start_date}}</td>
      <td>{{row.leave_end_date}}</td>
      <td class="{{row.status}}">{{row.status}}</td>
    </tr>

</table>
</div>
