<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <div class="dashboard">
        <div class="sidebar">
            <div class="sidebar_title" routerLink="/hod/profile">
                <img src="http://127.0.0.1:8000{{url}}" alt="">
                <h1>{{name}}</h1>
            </div>
            <div class="sidebar_menu">
                <div routerLinkActive="active" class="sidebar_link" routerLink="/hod" [routerLinkActiveOptions]="{exact:true}">
                    <fa-icon [icon]="['fas','home']"></fa-icon>
                    <a >Dashboard</a>
                </div>
                <div routerLinkActive='active'  routerLink="/hod/profile" class="sidebar_link">
                    <fa-icon [icon]="['fas','user-circle']"></fa-icon>
                    <a>Profile</a>
                </div>
                <div routerLinkActive='active' class="sidebar_link" routerLink="/hod/student_leaves">
                    <fa-icon [icon]="['fas','child']"></fa-icon>
                    <a >Student Leaves</a>
                </div>
                <div routerLinkActive='active' class="sidebar_link" routerLink="/hod/staff_leaves">
                    <fa-icon [icon]="['fas','user-tie']"></fa-icon>
                    <a >Staff Leaves</a>
                </div>
                <div routerLinkActive='active' class="sidebar_link" routerLink="/hod/register_candidate">
                    <fa-icon [icon]="['fas','users']"></fa-icon>
                    <a >Register Candidate</a>
                </div>
            </div>
        </div>
        <div class="horizontal">
            <header>
                <nav>
                    <li class="branch">Mechanical <span>Engineering</span></li>
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li (click)="logout()"><a class="btn"><fa-icon [icon]="['fas','sign-out-alt']"></fa-icon> Log out</a></li>
                    </ul>
                </nav>
            </header>
            <div class="content-block">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>
</html>